.super-mario {
  width: 200px;
}

.goomba {
  width: 100px;
}

.baloon {

}

.speach {
  font-size: 25px;
	position: absolute;
	left: 130px;
	top: 420px;
	color: black;
}

.bowser {
  width: 200px;
	position: absolute;
	left: 430px;
	top: 500px;
}