body {
  background-color: #1d1d1d;
  width: 60%;
  margin: 0 auto;
}

p, h1, h2 {
  color: #e1e1e1;
}

h2 {
  font-size: small;
}

header {
  margin-bottom: 20px;
}

h1 {
  margin-bottom: 0;
}

hr {
  width: 95%;
}

p {
  text-indent: 20px;
}